:root {
    font-size: 14px;
    --background-texture: url("../assets/images/textures/3px-tile.png");
    --logo: url("../assets/logo.png");
}

* {
    margin: 0;
    padding: 0;

}

main {
    height: 216.75rem;

    background-image: var(--background-texture);
    background-color: #EEFAFF;
    background-repeat: repeat;
}