.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

.vscode
.idea

# API keys
*.env
.env.*
config/*.json
config/*.yaml

# Node.js specific
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Virtual environments
venv/
ENV/
env/
venv.bak/
venv.bak/


hackathon_details

#tailwind
tailwind.config.js
src/input.css